@model DSS_MVC.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class="col-sm-2">
        </dt>
        <dd class="col-sm-10">
        </dd>
        <dt class="col-sm-2">
            <img src="/Images/Get?bookId=@Model.BookId&fileName=@Model.Images.FirstOrDefault().FileName" alt="@Model.Images" width="300" height="300">
        </dt>
        <dd class="col-sm-10">
        </dd>
        <dt class="col-sm-2">
        </dt>
        <dd class="col-sm-10">
        </dd>
        <!--<dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Loans)
        </dt> -->
        <dd class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Borrowers
                        </th>
                        <th>
                            Start Date
                        </th>
                        <th>
                            End Date
                        </th>
                        <th>
                            Book Condition
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Loans)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Borrowers.FirstName)
                                @Html.DisplayFor(modelItem => item.Borrowers.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookCondition)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
